/**
 *  The main Sassy CSS (SCSS) file that imports all other SCSS files. This SCSS file is the one that should be
 *  compiled by the SASS compiler in order to generate the correct CSS. So, in order to compile the CSS, you
 *  would run in the top level of the `www` directory:
 *
 *  @example
 *  $ sass --style=compressed --sourcemap=none -C --watch scss/main.scss:css/style.css
 *
 *  @author Jonathan Ballands
 */

/*
 *  Licensed Materials - Property of IBM
 *  © Copyright IBM Corporation 2014. All Rights Reserved.
 *  This sample program is provided AS IS and may be used, executed, copied and modified without royalty 
 *  payment by customer (a) for its own instruction and study, (b) in order to develop applications designed to 
 *  run with an IBM product, either for customer's own internal use or for redistribution by customer, as part 
 *  of such an application, in customer's own products.
 */

/* 
 *  -------
 *  Modules
 *  -------
 */

@import "modules/all";

/* 
 *  --------
 *  Partials
 *  --------
 */

@import "partials/base";

/* 
 *  -------
 *  Vendors
 *  -------
 */

// @ignore No vendors to import at this time...

/* 
 *  -----
 *  Reset
 *  -----
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* @ignore HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
