/*
 *  Licensed Materials - Property of IBM
 *  © Copyright IBM Corporation 2014. All Rights Reserved.
 *  This sample program is provided AS IS and may be used, executed, copied and modified without royalty 
 *  payment by customer (a) for its own instruction and study, (b) in order to develop applications designed to 
 *  run with an IBM product, either for customer's own internal use or for redistribution by customer, as part 
 *  of such an application, in customer's own products.
 */

$docs-white:        #FFFFFF;
$docs-off-white:    #e2e2e2;
$docs-blue:         #00b2ef;
$docs-dark-blue:    #00649d;
$docs-red:          #f04e37;
$docs-dark-red:     #d9182d;
$docs-gray:         #5a5a5a;
$docs-dark-gray:    #434343;
$docs-light-green:  #8DC44A;

$docs-off-blue:     #0E8CBE;
$docs-green:        #8DC44A;
$docs-off-green:    #1BAD4F;
$docs-pink:         #A92384;
$docs-off-pink:     #7D287B;
$docs-aqua:         #1AA59F;
$docs-off-aqua:     #117b76;

$docs-blue-link:    #00649d;
$docs-blue-link-h:  #004d79;
$docs-green-link:   #11843a;
$docs-green-link-h: #10652f;
$docs-aqua-link:    #0b5c58;
$docs-aqua-link-h:  #08403d;

$docs-tablegray:    #e2e2e2;
$docs-tableagray:   #bcbcbc;
