.footer {
    width: 100%;
    line-height: 1.3;
    background-color: $docs-blue;
    color: $docs-white;
    
    .footer-container {
        width: 80%;
        font-size: 13pt;
        margin: 0 auto;
        padding-top: 1px;
        
        h1 {
            font-weight: 600;
            font-size: 42pt;
            margin: 55px 0 25px 0;
        }
        
        ul {
            padding-top: 10px;
            padding-bottom: 70px;
            
            li {
                margin-bottom: 15px;
                
                a {
                    color: $docs-white;
                    font-weight: 600;
                    
                    &:hover {
                        color: $docs-off-white;
                    }
                }
                
                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    width: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}