/*
 *  Licensed Materials - Property of IBM
 *  © Copyright IBM Corporation 2014. All Rights Reserved.
 *  This sample program is provided AS IS and may be used, executed, copied and modified without royalty 
 *  payment by customer (a) for its own instruction and study, (b) in order to develop applications designed to 
 *  run with an IBM product, either for customer's own internal use or for redistribution by customer, as part 
 *  of such an application, in customer's own products.
 */

a {
    text-decoration: none;
}

.header {
    background-color: $docs-blue;
    color: $docs-white;
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    
    .logo {
        display: inline-block;
        height: 35px;
        margin-left: 35px;
        vertical-align: middle;
        margin-top: -5px;
    }
    
    .header-text {
        display: inline-block;
        font-weight: 600;
        font-size: 13pt;
        padding-left: 20px;
    }
    
    .header-link-container {
        float: right;
        margin-right: 40px;
        position: relative;
        
        .header-link {
            display: inline-block;
            padding: 0 15px;
        }
        
        .home-icon {
            width: 18px;
            margin: 0 5px;
            vertical-align: middle;
            display: inline-block;
        }
        
        .icon {
            width: 15px;
            vertical-align: middle;
            margin-left: 3px;
            display: inline-block;
        }
        
        #home {
            &:hover {
                background-color: $docs-dark-blue;
                cursor: pointer;
            }
        }
        
        #start {
            ul {
                display: none;
                background-color: $docs-dark-blue;
                position: absolute;
                padding: 25px;
                margin-left: -249px;
                border: $docs-blue solid 5px;
                border-top: 0;
                width: 260px;
                
                li {
                    position: relative;
                    line-height: 2.5;
                    width: 310px;
                    margin-left: -25px;
                    
                    &:hover {
                        background-color: $docs-blue;
                    }
                    
                    span {
                        text-decoration: none;
                        color: $docs-white;
                        margin-left: 25px;
                    }
                    
                    .icon {
                        position: absolute;
                        width: 12px;
                        vertical-align: middle;
                        right: 25px;
                        top: 15px;
                        display: inline-block;
                    }
                }
            }
            
            &:hover {
                background-color: $docs-dark-blue;
                cursor: pointer;
                
                ul {
                    display: block;
                }
            }
        }
        
        #frontend {
            ul {
                display: none;
                background-color: $docs-dark-blue;
                position: absolute;
                padding: 25px;
                margin-left: -104px;
                border: $docs-blue solid 5px;
                border-top: 0;
                width: 110px;
                
                li {
                    line-height: 2.5;
                    width: 160px;
                    margin-left: -25px;
                    position: relative;
                    
                    &:hover {
                        background-color: $docs-blue;
                    }
                    
                    span {
                        color: $docs-white;
                        margin-left: 25px;
                    }
                    
                    .icon {
                        position: absolute;
                        width: 12px;
                        vertical-align: middle;
                        right: 25px;
                        top: 15px;
                        display: inline-block;
                    }
                }
            }
            
            &:hover {
                background-color: $docs-dark-blue;
                cursor: pointer;
                
                ul {
                    display: block;
                }
            }
        }
        
        #middleware {
            ul {
                display: none;
                background-color: $docs-dark-blue;
                position: absolute;
                padding: 25px;
                margin-left: -73px;
                border: $docs-blue solid 5px;
                border-top: 0;
                width: 130px;
                
                li {
                    line-height: 2.5;
                    width: 180px;
                    margin-left: -25px;
                    position: relative;
                    
                    &:hover {
                        background-color: $docs-blue;
                    }
                    
                    span {
                        color: $docs-white;
                        margin-left: 25px;
                    }
                    
                    .icon {
                        position: absolute;
                        width: 12px;
                        vertical-align: middle;
                        right: 25px;
                        top: 15px;
                        display: inline-block;
                    }
                }
            }
            
            &:hover {
                background-color: $docs-dark-blue;
                cursor: pointer;
                
                ul {
                    display: block;
                }
            }
        }
    }
}