@mixin colors() {
    th.blue, td.blue, tr.blue {
        background-color: $docs-blue;
        color: $docs-white;
        
        a {
            color: $docs-blue-link;
            
            &:hover {
                color: $docs-blue-link-h;
            }
        }
    }
    th.ablue, td.ablue, tr.ablue {
        background-color: $docs-off-blue;
        color: $docs-white;
    }
    th.green, td.green, tr.green {
        background-color: $docs-green;
        color: $docs-white;
        
        a {
            color: $docs-green-link;
            
            &:hover {
                color: $docs-green-link-h;
            }
        }
    }
    th.agreen, td.agreen, tr.agreen {
        background-color: $docs-off-green;
        color: $docs-white;    
    }
    th.pink, td.pink, tr.pink {
        background-color: $docs-pink;
        color: $docs-white;
    }
    th.apink, td.apink, tr.apink {
        background-color: $docs-off-pink;
        color: $docs-white;
    }
    th.aqua, td.aqua, tr.aqua {
        background-color: $docs-aqua;
        color: $docs-white;
        
        a {
            color: $docs-aqua-link;
            
            &:hover {
                color: $docs-aqua-link-h;
            }
        }
    }
    th.aaqua, td.aaqua, tr.aaqua {
        background-color: $docs-off-aqua;
        color: $docs-white;
    }
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    
    thead, tbody {
        @include colors();
    }
    
    thead {
        background-color: $docs-tableagray;
        
        th {
            padding: 15px;
        }
    }
    
    tbody {
        background-color: $docs-tablegray;
        
        font-size: 12pt;
        td {
            ul {
                li {
                    margin: 5px 0;
                }
            }
            padding: 15px;
        }
    }
}