# Non-project-specific build files:
# Ant builds
/bin
/junitXml
/html
/dist
ios.automated.testing.properties

ios-driver.log*
ios-driver.log.lck*
logstash-ios-driver.log*
logstash-ios-driver.log.lck*
